<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://wwww.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <title>Danh sách nhân viên | Quản trị Admin</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon">
  <!-- Main CSS-->
  <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <!-- or -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <!-- Font-icon css-->
  <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
</head>

<body onload="time()" class="app sidebar-mini rtl">
<!-- Navbar-->
<header class="app-header">
  <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
                                  aria-label="Hide Sidebar"></a>
  <!-- Navbar Right Menu-->
  <ul class="app-nav">


    <!-- User Menu-->
    <li><a class="app-nav__item" href="/index.html"><i class='bx bx-log-out bx-rotate-180'></i> </a>

    </li>
  </ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" th:src="@{/img/avatar-admin.jpg}" width="50px"
                                      alt="User Image">
    <div>
      <p class="app-sidebar__user-name"><b>Trần Trọng Tấn</b></p>
      <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
    </div>
  </div>
  <hr>
  <ul class="app-menu">
    <li><a class="app-menu__item active" href="/admin/index"><i class='app-menu__icon bx bx-tachometer'></i><span
            class="app-menu__label">Bảng điều khiển</span></a></li>
    <li><a class="app-menu__item" href="/admin/users"><i class='app-menu__icon bx bx-user-voice'></i><span
            class="app-menu__label">Quản lý khách hàng</span></a></li>
    <li><a class="app-menu__item" href="/admin/categories"><i class='app-menu__icon bx bx-purchase-tag-alt'></i><span
            class="app-menu__label">Quản lý thể loại</span></a>
    </li>
    <li><a class="app-menu__item" href="/admin/producers"><i class='app-menu__icon bx bx-purchase-tag-alt'></i><span
            class="app-menu__label">Quản lý nhà cung cấp</span></a>
    </li>
    <li><a class="app-menu__item" href="/admin/products"><i class='app-menu__icon bx bx-purchase-tag-alt'></i><span
            class="app-menu__label">Quản lý sản phẩm</span></a>
    </li>
    <li><a class="app-menu__item" href="/admin/orders"><i class='app-menu__icon bx bx-task'></i><span
            class="app-menu__label">Quản lý đơn hàng</span></a></li>
  </ul>
</aside>
<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item">Danh sách sản phẩm</li>
      <li class="breadcrumb-item"><a href="#">Sửa sản phẩm</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title">Sửa sản phẩm</h3>
        <div class="tile-body">
          <div class="row element-button">
            <div class="col-sm-2">
              <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#exampleModalCenter"><i
                      class="fas fa-folder-plus"></i> Thêm nhà cung cấp</a>
            </div>
            <div class="col-sm-2">
              <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#adddanhmuc"><i
                      class="fas fa-folder-plus"></i> Thêm danh mục</a>
            </div>
            <div class="col-sm-2">
              <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#addtinhtrang"><i
                      class="fas fa-folder-plus"></i> Thêm tình trạng</a>
            </div>
          </div>
          <form id="myForm" class="row" th:action="@{/admin/products/edit}" method="post" enctype="multipart/form-data" th:object="${product}">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group col-md-3">
              <label class="control-label">Tên sản phẩm</label>
              <input class="form-control" th:field="*{name}" name="name" type="text">
              <div th:if="${nameError}">
                <div class="errors mt-2">
                  <span class="text-danger" th:text="${nameError}"></span>
                </div>
              </div>
            </div>
            <div class="form-group  col-md-3">
              <label class="control-label">Giá</label>
              <input class="form-control" th:field="*{price}" name="price" type="number">
              <div th:if="${priceError}">
                <div class="errors mt-2">
                  <span class="text-danger" th:text="${priceError}"></span>
                </div>
              </div>
            </div>
            <div class="form-group  col-md-3">
              <label class="control-label">Số lượng</label>
              <input class="form-control" th:field="*{quantity}" name="quantity" type="number">
              <div th:if="${quantityError}">
                <div class="errors mt-2">
                  <span class="text-danger" th:text="${quantityError}"></span>
                </div>
              </div>
            </div>
            <div class="form-group  col-md-3">
              <label class="control-label">Giảm giá</label>
              <input class="form-control" th:field="*{discount}" name="discount" type="number">
              <div th:if="${discountError}">
                <div class="errors mt-2">
                  <span class="text-danger" th:text="${discountError}"></span>
                </div>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label for="category" class="control-label">Danh mục</label>
              <select class="form-control" id="category" name="categoryId" required>
                <option th:field="*{categoryId}" th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
                </option>
              </select>
              <div th:if="${categoryIdError}">
                <div class="errors mt-2">
                  <span class="text-danger" th:text="${categoryIdError}"></span>
                </div>
              </div>
            </div>
            <div class="form-group col-md-3 ">
              <label for="producer" class="control-label">Nhà cung cấp</label>
              <select class="form-control" id="producer" name="producerId" required>
                <option th:field="*{producerId}" th:each="producer : ${producers}" th:value="${producer.id}" th:text="${producer.name}">
                </option>
              </select>

              <div th:if="${producerIdError}">
                <div class="errors mt-2">
                  <span class="text-danger" th:text="${producerIdError}"></span>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label class="control-label">Ảnh sản phẩm</label>
              <div id="myfileupload">
                <input type="file" id="uploadfile" name="image" />
              </div>
              <div id="boxchoice">
                <a href="javascript:" class="Choicefile"><i class="fas fa-cloud-upload-alt"></i> Chọn ảnh</a>
                <p style="clear:both"></p>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label class="control-label">Mô tả sản phẩm</label>
              <textarea class="form-control" th:field="*{description}" name="description" id="mota"></textarea>
            </div>
          </form>
        </div>
        <button id="submitBtn" class="btn btn-save" type="button">Lưu lại</button>
        <a class="btn btn-cancel" href="/admin/products">Hủy bỏ</a>
      </div>
    </div>
  </div>
</main>
<script>
  const form = document.getElementById("myForm");
  const submitBtn = document.getElementById("submitBtn");

  submitBtn.addEventListener("click", function() {
    form.submit();
  });
</script>
</body>

</html>