<div th:fragment="topbar" class="container-fluid">
  <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
    <div class="col-lg-4">
      <a href="/site" class="text-decoration-none">
        <span class="h1 text-uppercase text-white bg-dark px-2">TTT</span>
        <span class="h1 text-uppercase bg-secondary text-dark px-2 ml-n1">Shop</span>
      </a>
    </div>
    <div class="col-lg-4 col-6 text-left">
      <form action="/site/search" >
        <div class="input-group">
          <input type="search" name="keyword" th:value="${keyword}" class="form-control" placeholder="Tìm kiếm sản phẩm">
            <button type="submit" class="btn btn-secondary">
              <i class="fa fa-search" style="margin-bottom: 0;"
              ></i>
            </button>
        </div>
      </form>
    </div>
    <div class="col-lg-4 col-6 text-right">
      <p class="m-0">Chăm sóc khách hàng</p>
      <h5 class="m-0">
        <i class="fa fa-phone-alt text-dark mr-3">
        </i>0358.950.060
      </h5>
    </div>
  </div>
</div>