<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://wwww.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="~{site/fragments/head :: head}">

</head>

<body>
<!-- Topbar Start -->
<div th:replace="~{site/fragments/topbar :: topbar}">
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div th:replace="~{site/fragments/navbar :: navbar}">
</div>
<!-- Navbar End -->


<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Trang chủ</a>
                <a class="breadcrumb-item text-dark" href="#">Mua sắm</a>
                <span class="breadcrumb-item active">Giỏ hàng</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Cart Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-12">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Ngày đặt</th>
                    <th>Tổng tiền</th>
                    <th class="product-column">Sản phẩm</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td class="align-middle orderDate" th:text="${order.orderDate}"></td>
                    <td class="align-middle productPrice" th:text="${order.totalPrice}"></td>
                    <td>
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr class="table-primary">
                                <th>Sản phẩm</th>
                                <th>Tên</th>
                                <th>Số lượng</th>
                                <th>Giá</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="orderItem : ${order.orderItems}">
                                <td><img th:src="@{'/img/products/' + ${orderItem.product.image}}" alt="" style="width: 50px;"></td>
                                <td th:text="${orderItem.product.name}"></td>
                                <td th:text="${orderItem.quantity}"></td>
                                <td class="productPrice" th:text="${orderItem.price}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center" th:unless="${orders.size() > 0}">
                <h4>Không có đơn hàng nào đã mua!</h4>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->


<!-- Footer Start -->
<div th:replace="~{site/fragments/footer :: footer}">
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>

<!-- Contact Javascript File -->
<script th:src="@{/mail/jqBootstrapValidation.min.js}"></script>
<script th:src="@{/mail/contact.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/js/main.js}"></script>
<script>
    var priceElements = document.getElementsByClassName('productPrice');

    Array.from(priceElements).forEach(function(element) {
        var price = parseFloat(element.textContent);
        var formattedPrice = price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
        element.textContent = formattedPrice;
    });


    var orderDateElements = document.getElementsByClassName("orderDate");

    for (var i = 0; i < orderDateElements.length; i++) {
        var orderDateElement = orderDateElements[i];
        var orderDateValue = orderDateElement.innerText;
        var date = new Date(orderDateValue);

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        var formattedDate = day + '/' + month + '/' + year;

        orderDateElement.innerText = formattedDate;
    }


</script>
</body>

</html>