<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://wwww.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="~{site/fragments/head :: head}">

</head>

<body>
  <!-- Topbar Start -->
  <div th:replace="~{site/fragments/topbar :: topbar}">
  </div>
  <!-- Topbar End -->

  <!-- Navbar Start -->
  <div th:replace="~{site/fragments/navbar :: navbar}">
  </div>
  <!-- Navbar End -->


  <!-- Carousel Start -->
  <div class="container-fluid mb-3">
    <div class="row px-xl-5">
      <div class="col-lg-8">
        <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#header-carousel" data-slide-to="1"></li>
            <li data-target="#header-carousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item position-relative active" style="height: 430px;">
              <img class="position-absolute w-100 h-100" src="/img/slider-1.jpg" style="object-fit: cover;">
              <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px;">
                  <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Giảm giá tới 20%</h1>
                  <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Mua
                    ngay</a>
                </div>
              </div>
            </div>
            <div class="carousel-item position-relative" style="height: 430px;">
              <img class="position-absolute w-100 h-100" src="/img/slide-2.jpg" style="object-fit: cover;">
              <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px;">
                  <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Giảm giá tới 20%</h1>
                  <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Siêu phẩm S23 Ultra</p>
                  <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Mua
                    ngay</a>
                </div>
              </div>
            </div>
            <div class="carousel-item position-relative" style="height: 430px;">
              <img class="position-absolute w-100 h-100" src="/img/slide-3.jpg" style="object-fit: cover;">
              <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px;">
                  <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Giả giá 50%</h1>
                  <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Đến hết 01/06</p>
                  <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Mua
                    ngay</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="product-offer mb-30" style="height: 200px;">
          <img class="img-fluid" src="/img/samsung-galaxy-s23-ultra.jpg" alt="">
          <div class="offer-text">
            <h6 class="text-white text-uppercase">Giảm giá 20%</h6>
            <h3 class="text-white mb-3">Giảm giá đặc biệt</h3>
            <a href="" class="btn btn-info">Mua ngay</a>
          </div>
        </div>
        <div class="product-offer mb-30" style="height: 200px;">
          <img class="img-fluid" src="/img/iphone-14-pro-max-denjpg.jpg" alt="">
          <div class="offer-text">
            <h6 class="text-white text-uppercase">Giảm giá 20%</h6>
            <h3 class="text-white mb-3">Giảm giá đặc biệt</h3>
            <a href="" class="btn btn-info">Mua ngay</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Carousel End -->


  <!-- Featured Start -->
  <div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
          <h1 class="fa fa-check text-info m-0 mr-3"></h1>
          <h5 class="font-weight-semi-bold m-0">Sản phẩm chất lượng</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
          <h1 class="fa fa-shipping-fast text-info m-0 mr-2"></h1>
          <h5 class="font-weight-semi-bold m-0">Miễn phí vận chuyển</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
          <h1 class="fas fa-exchange-alt text-info m-0 mr-3"></h1>
          <h5 class="font-weight-semi-bold m-0">Hoàn trả trong 14 ngày</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
          <h1 class="fa fa-phone-volume text-info m-0 mr-3"></h1>
          <h5 class="font-weight-semi-bold m-0">Hỗ trợ 24/7</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- Featured End -->


  <!-- Categories Start -->
  <div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Thể
        loại</span></h2>
    <div class="row px-xl-5 pb-3">
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <a class="text-decoration-none" th:href="@{/site/products?keyword=phone}">
          <div class="cat-item d-flex align-items-center mb-4">
            <div class="overflow-hidden" style="width: 100px; height: 100px;">
              <img class="img-fluid" src="/img/asus-rog-phone-6.jpg" alt="">
            </div>
            <div class="flex-fill pl-3">
              <h6>Điện thoại</h6>
              <small class="text-body" th:text="${countPhone + ' sản phẩm'}"></small>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <a class="text-decoration-none" th:href="@{/site/products?keyword=laptop}">
          <div class="cat-item img-zoom d-flex align-items-center mb-4">
            <div class="overflow-hidden" style="width: 100px; height: 100px;">
              <img class="img-fluid" src="/img/acer-nitro-5.jpg" alt="">
            </div>
            <div class="flex-fill pl-3">
              <h6>Laptop</h6>
              <small class="text-body" th:text="${countLaptop + ' sản phẩm'}"></small>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <a class="text-decoration-none" th:href="@{/site/products?keyword=tablet}">
          <div class="cat-item img-zoom d-flex align-items-center mb-4">
            <div class="overflow-hidden" style="width: 100px; height: 100px;">
              <img class="img-fluid" src="/img/tablet.jpg" alt="">
            </div>
            <div class="flex-fill pl-3">
              <h6>Máy tính bảng</h6>
              <small class="text-body" th:text="${countTablet + ' sản phẩm'}"></small>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <a class="text-decoration-none" th:href="@{/site/products?keyword=watch}">
          <div class="cat-item img-zoom d-flex align-items-center mb-4">
            <div class="overflow-hidden" style="width: 100px; height: 100px;">
              <img class="img-fluid" src="/img/apple-watch.jpg" alt="">
            </div>
            <div class="flex-fill pl-3">
              <h6>Đồng hồ</h6>
              <small class="text-body" th:text="${countWatch + ' sản phẩm'}"></small>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- Categories End -->


  <!-- Products Start -->
  <div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Điện
        thoại</span></h2>
    <div class="row">
      <div class="col offset-5 mb-4">
        <a class="btn btn-info mr-1 rounded" href="">Apple</a><a class="btn btn-info mr-1 rounded"
          href="">Samsung</a><a class="btn btn-info mr-1 rounded" href="">Xiaomi</a><a
          class="btn btn-info mr-1 rounded" href="">Oppo</a><a class="btn btn-info mr-1 rounded"
          href="">Vivo</a><a class="btn btn-info mr-1 rounded" href="">Realme</a><a
          class="btn btn-info mr-1 rounded" href="">Nokia</a><a class="btn btn-info mr-1 rounded" href="">Asus</a>
      </div>
    </div>
    <div class="row px-xl-5">
      <div class="col">
        <div class="owl-carousel related-carousel">
          <div class="product-item bg-light" th:each="product : ${productsPhone}">
            <div class="product-item bg-light mb-4">
              <div class="product-img position-relative overflow-hidden">
                <img class="img-fluid w-100" th:src="@{'/img/products/' + ${product.image}}" alt="">
                <div class="product-action">
                  <a class="btn btn-outline-dark btn-square" th:href="@{'/customer/cart/' + ${product.id}}"><i
                      class="fa fa-shopping-cart"></i></a>
                  <a class="btn btn-outline-dark btn-square" th:href="@{'/customer/wish-list/' + ${product.id}}"><i
                      class="far fa-heart"></i></a>
                  <a class="btn btn-outline-dark btn-square" th:href="@{'/site/products/detail/' + ${product.id}}"><i
                      class="fa fa-search"></i></a>
                </div>
              </div>
              <div class="text-center py-4">
                <a class="h6 text-decoration-none text-truncate d-block pl-3 pr-3"
                  th:href="@{'/site/products/detail/' + ${product.id}}" th:text="${product.name}"></a>
                <div class="d-flex align-items-center justify-content-center mt-2">
                  <h5 class="productPrice"
                    th:text="(${product.price} - (${product.price} * ${product.discount} / 100))"></h5>
                  <h6 class="text-muted ml-2"><del class="productPrice" th:text="${product.price}"></del></h6>
                </div>
                <div class="d-flex align-items-center justify-content-center mb-1">
                  <small class="fa fa-star text-info mr-1"></small>
                  <small class="fa fa-star text-info mr-1"></small>
                  <small class="fa fa-star text-info mr-1"></small>
                  <small class="fa fa-star text-info mr-1"></small>
                  <small class="fa fa-star text-info mr-1"></small>
                  <small>(99)</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Products End -->

  <!-- Products Start -->
  <div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
        class="bg-secondary pr-3">Laptop</span></h2>
    <div class="row">
      <div class="col offset-5 mb-4">
        <a class="btn btn-info mr-1 rounded" href="">Apple</a><a class="btn btn-info mr-1 rounded"
          href="">Samsung</a><a class="btn btn-info mr-1 rounded" href="">Xiaomi</a><a
          class="btn btn-info mr-1 rounded" href="">Oppo</a><a class="btn btn-info mr-1 rounded"
          href="">Vivo</a><a class="btn btn-info mr-1 rounded" href="">Realme</a><a
          class="btn btn-info mr-1 rounded" href="">Nokia</a><a class="btn btn-info mr-1 rounded" href="">Asus</a>
      </div>
    </div>
    <div class="row px-xl-5">
      <div class="col">
        <div class="owl-carousel related-carousel">
          <div class="product-item bg-light" th:each="product : ${productsLaptop}">
            <div class="product-item bg-light mb-4">
              <div class="product-img position-relative overflow-hidden">
                <img class="img-fluid w-100" th:src="@{'/img/products/' + ${product.image}}" alt="">
                <div class="product-action">
                  <a class="btn btn-outline-dark btn-square" th:href="@{'/customer/cart/' + ${product.id}}"><i
                      class="fa fa-shopping-cart"></i></a>
                  <a class="btn btn-outline-dark btn-square" th:href="@{'/customer/wish-list/' + ${product.id}}"><i
                          class="far fa-heart"></i></a>

                  <a class="btn btn-outline-dark btn-square" th:href="@{'/site/products/detail/' + ${product.id}}"><i
                      class="fa fa-search"></i></a>
                </div>
              </div>
              <div class="text-center py-4">
                <a class="h6 text-decoration-none text-truncate d-block pl-3 pr-3"
                  th:href="@{'/site/products/detail/' + ${product.id}}" th:text="${product.name}"></a>
                <div class="d-flex align-items-center justify-content-center mt-2">
                  <h5 class="productPrice"
                    th:text="(${product.price} - (${product.price} * ${product.discount} / 100))"></h5>
                  <h6 class="text-muted ml-2"><del class="productPrice" th:text="${product.price}"></del></h6>
                </div>
                <div class="d-flex align-items-center justify-content-center mb-1">
                  <small class="fa fa-star text-info mr-1"></small>
                  <small class="fa fa-star text-info mr-1"></small>
                  <small class="fa fa-star text-info mr-1"></small>
                  <small class="fa fa-star text-info mr-1"></small>
                  <small class="fa fa-star text-info mr-1"></small>
                  <small>(99)</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Products End -->

  <!-- Products Start -->
  <div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Máy tính
        bảng</span></h2>
    <div class="row">
      <div class="col offset-5 mb-4">
        <a class="btn btn-info mr-1 rounded" href="">Apple</a><a class="btn btn-info mr-1 rounded"
          href="">Samsung</a><a class="btn btn-info mr-1 rounded" href="">Xiaomi</a><a
          class="btn btn-info mr-1 rounded" href="">Oppo</a><a class="btn btn-info mr-1 rounded"
          href="">Vivo</a><a class="btn btn-info mr-1 rounded" href="">Realme</a><a
          class="btn btn-info mr-1 rounded" href="">Nokia</a><a class="btn btn-info mr-1 rounded" href="">Asus</a>
      </div>
    </div>
    <div class="row px-xl-5">
      <div class="col">
        <div class="owl-carousel related-carousel">
          <div class="product-item bg-light" th:each="product : ${productsTablet}">
            <div class="product-item bg-light mb-4">
              <div class="product-img position-relative overflow-hidden">
                <img class="img-fluid w-100" th:src="@{'/img/products/' + ${product.image}}" alt="">
                <div class="product-action">
                  <a class="btn btn-outline-dark btn-square" th:href="@{'/customer/cart/' + ${product.id}}"><i
                      class="fa fa-shopping-cart"></i></a>
                  <a class="btn btn-outline-dark btn-square" th:href="@{'/customer/wish-list/' + ${product.id}}"><i
                          class="far fa-heart"></i></a>
                  <a class="btn btn-outline-dark btn-square" th:href="@{'/site/products/detail/' + ${product.id}}"><i
                      class="fa fa-search"></i></a>
                </div>
              </div>
              <div class="text-center py-4">
                <a class="h6 text-decoration-none text-truncate d-block pl-3 pr-3"
                  th:href="@{'/site/products/detail/' + ${product.id}}" th:text="${product.name}"></a>
                <div class="d-flex align-items-center justify-content-center mt-2">
                  <h5 class="productPrice"
                    th:text="(${product.price} - (${product.price} * ${product.discount} / 100))"></h5>
                  <h6 class="text-muted ml-2"><del class="productPrice" th:text="${product.price}"></del></h6>
                </div>
                <div class="d-flex align-items-center justify-content-center mb-1">
                  <small class="fa fa-star text-info mr-1"></small>
                  <small class="fa fa-star text-info mr-1"></small>
                  <small class="fa fa-star text-info mr-1"></small>
                  <small class="fa fa-star text-info mr-1"></small>
                  <small class="fa fa-star text-info mr-1"></small>
                  <small>(99)</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Products End -->

  <!-- Products Start -->
  <div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Đồng
        hồ</span></h2>
    <div class="row">
      <div class="col offset-5 mb-4">
        <a class="btn btn-info mr-1 rounded" href="">Apple</a><a class="btn btn-info mr-1 rounded"
          href="">Samsung</a><a class="btn btn-info mr-1 rounded" href="">Xiaomi</a><a
          class="btn btn-info mr-1 rounded" href="">Oppo</a><a class="btn btn-info mr-1 rounded"
          href="">Vivo</a><a class="btn btn-info mr-1 rounded" href="">Realme</a><a
          class="btn btn-info mr-1 rounded" href="">Nokia</a><a class="btn btn-info mr-1 rounded" href="">Asus</a>
      </div>
    </div>
    <div class="row px-xl-5">
      <div class="col">
        <div class="owl-carousel related-carousel">
          <div class="product-item bg-light" th:each="product : ${productsWatch}">
            <div class="product-item bg-light mb-4">
              <div class="product-img position-relative overflow-hidden">
                <img class="img-fluid w-100" th:src="@{'/img/products/' + ${product.image}}" alt="">
                <div class="product-action">
                  <a class="btn btn-outline-dark btn-square" th:href="@{'/customer/cart/' + ${product.id}}"><i
                      class="fa fa-shopping-cart"></i></a>
                  <a class="btn btn-outline-dark btn-square" th:href="@{'/customer/wish-list/' + ${product.id}}"><i
                          class="far fa-heart"></i></a>
                  <a class="btn btn-outline-dark btn-square" th:href="@{'/site/products/detail/' + ${product.id}}"><i
                      class="fa fa-search"></i></a>
                </div>
              </div>
              <div class="text-center py-4">
                <a class="h6 text-decoration-none text-truncate d-block pl-3 pr-3"
                  th:href="@{'/site/products/detail/' + ${product.id}}" th:text="${product.name}"></a>
                <div class="d-flex align-items-center justify-content-center mt-2">
                  <h5 class="productPrice"
                    th:text="(${product.price} - (${product.price} * ${product.discount} / 100))"></h5>
                  <h6 class="text-muted ml-2"><del class="productPrice" th:text="${product.price}"></del></h6>
                </div>
                <div class="d-flex align-items-center justify-content-center mb-1">
                  <small class="fa fa-star text-info mr-1"></small>
                  <small class="fa fa-star text-info mr-1"></small>
                  <small class="fa fa-star text-info mr-1"></small>
                  <small class="fa fa-star text-info mr-1"></small>
                  <small class="fa fa-star text-info mr-1"></small>
                  <small>(99)</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Products End -->


  <!-- Footer Start -->
  <div th:replace="~{site/fragments/footer :: footer}">
  </div>
  <!-- Footer End -->


  <!-- Back to Top -->
  <a href="#" class="btn btn-info back-to-top"><i class="fa fa-angle-double-up"></i></a>


  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script th:src="@{/lib/easing/easing.min.js}"></script>
  <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>

  <!-- Contact Javascript File -->
  <script th:src="@{/mail/jqBootstrapValidation.min.js}"></script>
  <script th:src="@{/mail/contact.js}"></script>

  <!-- Template Javascript -->
  <script th:src="@{/js/main.js}"></script>
  <script>
    var priceElements = document.getElementsByClassName('productPrice');

    Array.from(priceElements).forEach(function (element) {
      var price = parseFloat(element.textContent);
      var formattedPrice = price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
      element.textContent = formattedPrice;
    });
  </script>
</body>

</html>