<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside th:fragment="sidebar" class="app-sidebar">
        <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" th:src="@{/img/avatar-admin.jpg}"
                        width="50px" alt="User Image">
                <div>
                        <p class="app-sidebar__user-name"><b>Trần Trọng Tấn</b></p>
                        <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
                </div>
        </div>
        <hr>
        <ul class="app-menu">
                <li><a class="app-menu__item active" href="/admin/index"><i
                                        class='app-menu__icon bx bx-tachometer'></i><span class="app-menu__label">Bảng
                                        điều khiển</span></a></li>
                <li><a class="app-menu__item" href="/admin/users"><i class='app-menu__icon bx bx-user-voice'></i><span
                                        class="app-menu__label">Quản lý khách hàng</span></a></li>
                <li><a class="app-menu__item" href="/admin/categories"><i
                                        class='app-menu__icon bx bx-purchase-tag-alt'></i><span
                                        class="app-menu__label">Quản lý thể loại</span></a>
                </li>
                <li><a class="app-menu__item" href="/admin/producers"><i
                                        class='app-menu__icon bx bx-purchase-tag-alt'></i><span
                                        class="app-menu__label">Quản lý nhà cung cấp</span></a>
                </li>
                <li><a class="app-menu__item" href="/admin/products"><i
                                        class='app-menu__icon bx bx-purchase-tag-alt'></i><span
                                        class="app-menu__label">Quản lý sản phẩm</span></a>
                </li>
                <li><a class="app-menu__item" href="/admin/orders"><i class='app-menu__icon bx bx-task'></i><span
                                        class="app-menu__label">Quản lý đơn hàng</span></a></li>
        </ul>
</aside>